In [1]:
import pandas as pd
import numpy as np

IMPORTING ALL ORIGINAL DATASETS

In [13]:
# AGGRESSION PARSED DATASET
ori_aggression_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/aggression_parsed_dataset.csv'
ori_aggression = pd.read_csv(ori_aggression_dataset)
ori_aggression = ori_aggression.dropna()
ori_aggression.describe()

               index     ed_label_0     ed_label_1       oh_label
count  115864.000000  115864.000000  115864.000000  115864.000000
mean    57931.500000       0.814172       0.185828       0.127581
std     33447.200132       0.271089       0.271089       0.333624
min         0.000000       0.000000       0.000000       0.000000
25%     28965.750000       0.750000       0.000000       0.000000
50%     57931.500000       0.900000       0.100000       0.000000
75%     86897.250000       1.000000       0.250000       0.000000
max    115863.000000       1.000000       1.000000       1.000000

In [14]:
# same as aggression dataset

#ATTACK PARSED DATASET 
ori_attack_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/attack_parsed_dataset.csv'
ori_attack = pd.read_csv(ori_attack_dataset)
ori_attack = ori_attack.dropna()
ori_attack.describe()

               index     ed_label_0     ed_label_1       oh_label
count  115864.000000  115864.000000  115864.000000  115864.000000
mean    57931.500000       0.830222       0.169778       0.117293
std     33447.200132       0.264987       0.264987       0.321770
min         0.000000       0.000000       0.000000       0.000000
25%     28965.750000       0.777778       0.000000       0.000000
50%     57931.500000       0.950000       0.050000       0.000000
75%     86897.250000       1.000000       0.222222       0.000000
max    115863.000000       1.000000       1.000000       1.000000

In [15]:
# KAGGLE DATASET

ori_kaggle_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/kaggle_parsed_dataset.csv'
ori_kaggle = pd.read_csv(ori_kaggle_dataset)
ori_kaggle= ori_kaggle.dropna()
ori_kaggle.describe()

             index     oh_label
count  7557.000000  7557.000000
mean   4417.798068     0.350536
std    2478.329364     0.477169
min       0.000000     0.000000
25%    2308.000000     0.000000
50%    4496.000000     0.000000
75%    6432.000000     1.000000
max    8798.000000     1.000000

In [16]:
# TOXICITY PARSED DATASET

ori_toxicity_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/toxicity_parsed_dataset.csv'
ori_toxicity = pd.read_csv(ori_toxicity_dataset)
ori_toxicity = ori_toxicity.dropna()
ori_toxicity.describe()

              index     ed_label_0     ed_label_1       oh_label
count  159686.00000  159686.000000  159686.000000  159686.000000
mean    79842.50000       0.854951       0.145049       0.096201
std     46097.52188       0.253866       0.253866       0.294868
min         0.00000       0.000000       0.000000       0.000000
25%     39921.25000       0.800000       0.000000       0.000000
50%     79842.50000       1.000000       0.000000       0.000000
75%    119763.75000       1.000000       0.200000       0.000000
max    159685.00000       1.000000       1.000000       1.000000

In [17]:
#TWITTER PARSED DATASET

ori_twitter_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/twitter_parsed_dataset.csv'
ori_twitter = pd.read_csv(ori_twitter_dataset)
ori_twitter = ori_twitter.dropna()
ori_twitter.describe()

           oh_label
count  16848.000000
mean       0.317367
std        0.465465
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [18]:
# TWITTER RACISM DATASET

ori_twit_racist_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/twitter_racism_parsed_dataset.csv'
ori_twit_racist = pd.read_csv(ori_twit_racist_dataset)
ori_twit_racist = ori_twit_racist.dropna()
ori_twit_racist.describe()

              index            id     oh_label
count  1.347100e+04  1.347100e+04  13471.00000
mean   5.645450e+17  5.645450e+17      0.14624
std    2.263979e+16  2.263979e+16      0.35336
min    3.208178e+17  3.208178e+17      0.00000
25%    5.637581e+17  5.637581e+17      0.00000
50%    5.714068e+17  5.714068e+17      0.00000
75%    5.755013e+17  5.755013e+17      0.00000
max    5.922733e+17  5.922733e+17      1.00000

In [20]:
# TWITTER SEXISM DATASET

ori_twit_sexism_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/twitter_sexism_parsed_dataset.csv'
ori_twit_sexism = pd.read_csv(ori_twit_sexism_dataset)
ori_twit_sexism = ori_twit_sexism.dropna()
ori_twit_sexism.describe()

           oh_label
count  14878.000000
mean       0.226979
std        0.418893
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [21]:
# YOUTUBE PARSED DATASET

ori_utube_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/youtube_parsed_dataset.csv'
ori_utube = pd.read_csv(ori_utube_dataset)
ori_utube = ori_utube.dropna()
ori_utube.describe()

,index,Number of Comments,Number of Subscribers,Membership Duration,Number of Uploads,Profanity in UserID,Age,oh_label
count,3464.000000,3464.000000,3464.000000,3464.000000,3464.000000,3464.000000,3464.000000,3464.000000
mean,1733.021651,15.452367,304.318995,3.714781,10.288395,0.113164,24.879042,0.120381
std,1001.844201,10.862517,15520.532319,1.392837,28.646525,0.316839,13.286361,0.325454
min,0.000000,1.000000,0.000000,2.000000,1.000000,0.000000,13.000000,0.000000
25%,865.750000,6.000000,0.000000,3.000000,5.000000,0.000000,18.000000,0.000000
50%,1731.500000,14.000000,2.000000,3.000000,5.000000,0.000000,21.000000,0.000000
75%,2601.250000,23.000000,7.000000,4.000000,5.000000,0.000000,27.000000,0.000000
max,3468.000000,50.000000,912377.000000,9.000000,820.000000,1.000000,112.000000,1.000000