In [1]:
import pandas as pd
import numpy as np

IMPORTING ALL ORIGINAL DATASETS

In [8]:
# AGGRESSION PARSED DATASET
ori_aggression_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/aggression_parsed_dataset.csv'
ori_aggression = pd.read_csv(ori_aggression_dataset)
ori_aggression_data = ori_aggression.dropna()
ori_aggression_data.describe()

               index     ed_label_0     ed_label_1       oh_label
count  115864.000000  115864.000000  115864.000000  115864.000000
mean    57931.500000       0.814172       0.185828       0.127581
std     33447.200132       0.271089       0.271089       0.333624
min         0.000000       0.000000       0.000000       0.000000
25%     28965.750000       0.750000       0.000000       0.000000
50%     57931.500000       0.900000       0.100000       0.000000
75%     86897.250000       1.000000       0.250000       0.000000
max    115863.000000       1.000000       1.000000       1.000000

In [7]:
# same as aggression dataset

#ATTACK PARSED DATASET 
ori_attack_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/attack_parsed_dataset.csv'
ori_attack = pd.read_csv(ori_attack_dataset)
ori_attack_data = ori_attack.dropna()
ori_attack_data.describe()

               index     ed_label_0     ed_label_1       oh_label
count  115864.000000  115864.000000  115864.000000  115864.000000
mean    57931.500000       0.830222       0.169778       0.117293
std     33447.200132       0.264987       0.264987       0.321770
min         0.000000       0.000000       0.000000       0.000000
25%     28965.750000       0.777778       0.000000       0.000000
50%     57931.500000       0.950000       0.050000       0.000000
75%     86897.250000       1.000000       0.222222       0.000000
max    115863.000000       1.000000       1.000000       1.000000

In [6]:
# KAGGLE DATASET

ori_kaggle_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/kaggle_parsed_dataset.csv'
ori_kaggle = pd.read_csv(ori_kaggle_dataset)
ori_kaggle_data = ori_kaggle.dropna()
ori_kaggle_data.describe()

             index     oh_label
count  7557.000000  7557.000000
mean   4417.798068     0.350536
std    2478.329364     0.477169
min       0.000000     0.000000
25%    2308.000000     0.000000
50%    4496.000000     0.000000
75%    6432.000000     1.000000
max    8798.000000     1.000000

In [ ]:
# TOXICITY PARSED DATASET

ori_toxicity_dataset = '/Users/churnika/Desktop/Projects/Crime_classification/dataset/toxicity_parsed_dataset.csv'
ori_toxicity = pd.read_csv(ori_toxicity_dataset)
ori_toxicity_data =